<header>
    <div class="header-sty w-100">
        <div class="container p-3">
            <h2 class="font-weight-bold">Triveous News</h2>
            <h6>Get the latest News</h6>
        </div>
    </div>
</header>
<section>
    <nav class="navbar navbar-expand-lg navbar-light container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" *ngFor='let item of navbar'>
                    <a class="nav-link font-weight-bold p-3" href="#"
                        (click)='getnews(item.name,"popularity")'>{{item.name}}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name='search'
                    [(ngModel)]='searchstring' aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                    (click)='getnews(searchstring,"popularity")'>Search</button>
            </form>
        </div>
    </nav>
</section>
<div *ngIf='!load'>
    <div class="d-flex justify-content-center align-items-center loader-sty">
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>
<div *ngIf='load && newsarray?.length'>
    <section>
        <div class="jumbotron m-0">
            <div class="container">
                <div class="card-deck">
                    <div class="card h-50 card-sty" (click)="selectcontent(news)" *ngFor='let news of newsarray'>
                        <img [src]='news.urlToImage' class="card-img-top img-sty" alt="image">
                        <div class="card-body">
                            <p class="card-text font-weight-bold">{{news.title}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="d-md-flex container">
        <section class="col-md-8">
            <h3 class="main-text pt-4 pb-1">{{news}}</h3>
            <div class="p-4">
                <img class="img-fluid" [src]='mainnews?.img'>
                <p class="mt-4">{{mainnews?.content}}</p>
            </div>
        </section>
        <aside class="col-md-4">
            <div class="container d-flex w-100">
                <ul class="d-flex list-unstyled">
                    <li *ngFor='let aside of sidearray' class="font-weight-bold p-3 cur-sty"><a
                            (click)='getcategory(news,aside.category)'>{{aside.name}}</a>
                    </li>
                </ul>
            </div>
            <div *ngIf='!load1'>
                <div class="d-flex justify-content-center align-items-center loader-sty1">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
            </div>
            <div *ngIf='load1' class='aside-sty'>
                <div class="media pt-3 pl-3 pb-3 cur-sty" (click)="selectcontent(news)"
                    *ngFor='let news of categoryarray'>
                    <img class="align-self-center mr-3 img-fluid aside-img" [src]="news.urlToImage"
                        alt="Generic placeholder image">
                    <div class="media-body">
                        <p class="card-text">{{news.title}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
<div *ngIf="load && !(newsarray?.length)" class="d-flex justify-content-center align-items-center loader-sty">
    <p>{{error}}</p>
</div>